<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="../account.css">
	<link rel="shortcut icon" href='favicon.ico' type="image/x-icon" />
	<script type="text/javascript"></script>
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<script type="text/javascript" src="../index.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> 
</head>
<body>
<main role="main">
	<div class="columnContainer">
		<div class="rightColumn col">
			<header role="banner">
				<h1>My 8-Bit Self</h1>
			</header>
			<nav role="navigation">
				<ul>
					<% if (user) { %>
					<li><a href="/">Homepage</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/auth/info">Info</a></li>
					<li><a href="/auth/logout">LogOut</a></li> 
					<% } else { %>
					<li><a href="/auth/login">LogIn</a></li> 
					<li><a href="/auth/info">Info</a></li>
					<% } %>	
				</ul>
			</nav>
			<div class="accountInfo">
				<h2>Account Info</h2>
				<form class="updateUsername">
					<h3>Change User Name?</h3>
					<input type="text" placeholder="Username" class="usernameInput">
					<button type="submit">Change</button>
				</form>
				<form class="updateClass">
					<h3>Change Occupation?</h3>
					<input type="text" placeholder="Occupation" class="classInput">
					<button type="submit">Change</button>
				</form>
				<div class="delAcc">
					<button class="delAccButton">Delete Account</button>
				</div>
			</div>
		</div>
		<div class="leftColumn col">
			<div class="avatarContainer"></div>
			<a href="/profile/avatar" class="changeAvatarButton">Change Avatar</a>
			<br>
			<a href="/profile/adv" class="advButton">Log Adventure!</a>
		</div>
	</div>
	<div class="areYouSure" aria-live="assertive" hidden>
		<h1>Are you sure you want to delete your account? It won't come back!</h1>
		<button class="delYes">Yes</button>
		<button class="delNo">No</button>
	</div>
</main>
</body>
</html>