<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="../adv.css">
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<script type="text/javascript" src="../index.js"></script> 
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
	<div class="columnContainer">
	<div class="rightColumn col">
		<header role="banner">
		<h1>My 8-Bit Self</h1>
		</header>
		<nav>
			<ul>
				<% if (user) { %>
				<li><a href="/">Homepage</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/auth/info">Info</a></li>
				<li><a href="/auth/logout">LogOut</a></li> 
				<% } else { %>
				<li><a href="/auth/login">LogIn</a></li> 
				<li><a href="/auth/info">Info</a></li>
				<% } %>
				
			</ul>
		</nav>
		<div class="adventureButtons">
			<h2>Log Your Adventures</h2>
			<h3>What did you do?</h3>
			<button class="strButton">Today I performed a Strength workout!</button>
			<button class="agiButton">Today I performed intense Cardio for half an hour!</button>
			<button class="vitButton">Today I performed easy Cardio for an hour!</button>
			<button class="intButton">Today I read for half an hour!</button>
			<button class="wsdButton">Today I did something I have never done before!</button>
			<button class="chrButton">Today I talked to someone new!</button>
		</div>
		<div class="advResultsContainer" hidden>
			<div class="advResults">
				<h1>Adventure Logged!</h1>
				<h2>Experience +1</h2>
			</div>
			<button class="anotherButton">Log Another Adventure</button>
			<button class="doneButton">Done</button>
		</div>
		<div class="levelContainer" hidden>
			<div>
				<h1>Adventure Logged!</h1>
				<h2>Level up!</h2>
			</div>
			<button class="levelButton">Level</button>
		</div>
	</div>
	<div class="leftColumn col">
			<div class="avatarContainer"></div>
			<a href="/profile/avatar" class="changeAvatarButton">Change Avatar</a>
			<br>
			<a href="/profile/adv" class="advButton">Log Adventure!</a>
	</div>
	</div>
</body>
</html>