<!DOCTYPE html>
<html>
<head>
	<title>Avatar</title>
	<link rel="stylesheet" type="text/css" href="../avatar.css">
	<link rel="stylesheet" href="../float-grid.css"/>
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<script type="text/javascript" src="../index.js"></script>
	<script type="text/javascript" src="../avatar.js"></script>  
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
	<nav role="navigation">
		<ul>
			<li><a href="/">Homepage</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/auth/info">Info</a></li>
			<li><a href="/auth/logout">LogOut</a></li> 
		</ul>
	</nav>
	<main role="main">
		<header role="banner">
	    	<h1>Pick Your Avatar</h1>
		</header>
			<div class="row">
		    	<div class="col-3">
		      		<div class="box">
		      		 	<img src="../12.jpg" class="twelveButton" alt="prince">
		     	 	</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		        		<img src="../1.jpg" class="oneButton" alt="young male hero">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../2.jpg" class="twoButton" alt="mysterious female witch">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../3.jpg" class="threeButton" alt="flame sprite driving robot">
		      		</div>
		    	</div>
		  	</div>
		  	<div class="row">
		    	<div class="col-3">
		      		<div class="box">
		      	 		<img src="../4.jpg" class="fourButton" alt="ninja wolf">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../5.jpg" class="fiveButton" alt="young female hero">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../6.jpg" class="sixButton" alt="mature female witch">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../7.jpg" class="sevenButton" alt="mature male knight">
		      		</div>
		    	</div>
		  	</div>
		  	<div class="row">
		    	<div class="col-3">
		      		<div class="box">
		      	 		<img src="../8.jpg" class="eightButton" alt="male samurai">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../9.jpg" class="nineButton" alt="female pixie">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../10.jpg" class="tenButton" alt="male blacksmith">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../11.jpg" class="elevenButton" alt="creepy witch">
		      		</div>
		    	</div>
		  	</div>
		  	<div class="row">
		    	<div class="col-3">
		      		<div class="box">
		      	 		<img src="../13.jpg" class="thirteenButton" alt="king">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../14.jpg" class="fourteenButton" alt="queen">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../15.jpg" class="fifteenButton" alt="female merchant">
		      		</div>
		    	</div>
		    	<div class="col-3">
		      		<div class="box">
		          		<img src="../16.jpg" class="sixteenButton" alt="floating robot">
		      		</div>
		    	</div>
		  	</div>
	</main>
</body>
</html>