<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../home.css">
	<link rel="shortcut icon" href='favicon.ico' type="image/x-icon" />
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
	<header role="banner">
		<h1>My 8-Bit Self</h1>
		<h2>Your Life as an 8-bit Character</h2>
	</header>
	<main role="main">
		<nav role="navigation">
				<ul style="list-style:none;">
					<% if (user) { %> 
					<li><a href="/profile">Profile</a></li>
					<li><a href="/auth/info">Info</a></li>
					<li><a href="/auth/logout">LogOut</a></li>
					<% } else { %>
					<li><a href="/auth/login">LogIn</a></li> 
					<li><a href="/auth/info">Info</a></li>
					<% } %>	
				</ul>
		</nav>
	</main>
</body>
</html>