<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="../home.css">
	<script type="text/javascript"></script>
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
	<main role="main">
		<div>
			<header role="banner">
				<h1>login using...</h1>	
			</header>
			<a class="googleButton" href="/auth/google">Google+</a>
		</div>
	</main>
</body>
</html>