<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="../index.css">
	<script type="text/javascript"></script>
	<script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
	<script type="text/javascript" src="../index.js"></script> 
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
	<main>
	<div class="columnContainer">
		<div class="rightColumn col">
			<header role="banner">
				<h1>My 8-Bit Self</h1>
			</header>
			<nav>
				<ul style="list-style:none;">
					<li><a href="/">Homepage</a></li>
					<li><a href="/profile/account">MyAccount</a></li>
					<li><a href="/auth/info">Info</a></li>
					<li><a href="/auth/logout">LogOut</a></li> 
				</ul>
			</nav>
			<div class="statsContainerContainer">
				<div class="statsContainer"></div>
			</div>
		</div>
		<div class="leftColumn col">
			<div class="avatarContainer"></div>
			<a href="/profile/avatar" class="changeAvatarButton">Change Avatar</a>
			<br>
			<a href="/profile/adv" class="advButton">Log Adventure!</a>
		</div>
	</div>
	</main>
</body>
</html>