*{
	margin:0;
	padding:0;
	box-sizing:border-box;

}

.box img {
	width:100%;
	height:auto;
	border:5px ridge rgb(213,213,213);
	border-radius:8px;
}

.box img:hover {
	opacity:0.5;
	filter: alpha(opacity=50);
}

html{
	background: url(../background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}

nav{
	text-align:center;
	vertical-align:middle;
	border:5px ridge rgb(213,213,213);
	background-color:rgb(50,62,208);
	background-image:linear-gradient(
		to bottom, rgb(50,62,208),rgb(6,6,134)
	);
	color:white;
	box-shadow: 0px 0px 4px 0px black;	
	padding-top:10px;
	padding-bottom:10px;
	border-radius:8px;
}

li{
	vertical-align: center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:7%;
	padding-right:7%;
	display:inline-block;
	width:fit-content;
}

a{
	font-size:17px;
	text-decoration:none;
	color:white;
	text-shadow:2px 0px black;	
}

a:hover{
	color:silver;
}

ul{
	text-align:center;
}

h1{
	text-align:center;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	width:66%;
	color:white;	
	text-shadow:2px 2px black;
	font-family: 'Press Start 2P', cursive;
}