*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto Mono', monospace;
}

body{
	height:100%;
	background:black;
}

.columnContainer{
	display:table;
	width:100%;
}

.col{
	display:table-cell;
}

h1{
	text-align:center;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	width:66%;
	color:white;	
	text-shadow:4px 4px black;
	font-family: 'Press Start 2P', cursive;
}

h2{
	padding-bottom:10px;
}

h3{
	padding-bottom:5px;
}

h4{
	padding-top:5px;
}


header{
	background: url(../background.jpg) no-repeat center right fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    width:100%;
    margin:0;
    padding-top:20px;
    padding-bottom:20px;
}

nav{
	text-align:center;
	vertical-align:middle;
	border-bottom:5px ridge rgb(213,213,213);
	border-top:5px ridge rgb(213,213,213);
	background-color:rgb(50,62,208);
	background-image:linear-gradient(
		to bottom, rgb(50,62,208),rgb(6,6,134)
	);
	color:white;
	box-shadow: 0px 0px 4px 0px black;	
	padding-top:10px;
	padding-bottom:10px;
}

.leftColumn{
	text-align:center;
	width:33.33%;
	padding:1%;
	text-align:center;
	vertical-align:top;
	border:5px ridge rgb(213,213,213);
	background-color:rgb(50,62,208);
	background-image:linear-gradient(
		to bottom, rgb(50,62,208),rgb(6,6,134)
	);
	color:white;
	box-shadow: 0px 0px 4px 0px black;
	border-radius:8px;
	padding-bottom:30px;
	padding-top:30px;
}

.rightColumn{
	text-align:center;
	width:66.66%;
	text-align:center;
	vertical-align:top;
	border:5px ridge rgb(213,213,213);
	background-color:rgb(50,62,208);
	background-image:linear-gradient(
		to bottom, rgb(50,62,208),rgb(6,6,134)
	);
	color:white;
	box-shadow: 0px 0px 4px 0px black;
	border-radius:8px;
	padding-bottom:20px;
}

.statsContainer{
	vertical-align:middle;
	color:white;
	text-shadow:2px 2px black;
	padding-top:10%;	
	padding-bottom:10%;
}

.avatarContainer{
	margin-left:auto;
	margin-right:auto;
}

.avatarImg{
	border:5px ridge rgb(213,213,213);
	box-shadow: 0px 0px 4px 0px black;
	border-radius:8px;
	background-clip:padding-box;
	width:66%;
}

.statColumn{
	text-align:center;
	float:left;
	width:46%;
	margin:1%;
	padding:1%;
}

.xpHolder{
	width:66%;
	border:5px ridge rgb(213,213,213);
	box-shadow: 0px 0px 4px 0px black;
	border-radius:8px;
	background-clip:padding-box;
	background-color:rgb(213,213,213);
	background-image:linear-gradient(
		to bottom, rgb(213,213,213),rgb(100,100,100)
	);
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	text-align:right;
}

.xpBar{
	background-color:green;
	background-image:linear-gradient(
		to bottom, green, forestgreen
	);
	color:white;
	box-shadow: 0px 0px 4px 0px black;
	text-shadow:2px 2px black;
}

.xpBar p{
	margin-right:5px;
	margin-left:5px;
}


li{
	vertical-align: center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:3%;
	padding-right:3%;
}

a{
	font-size:17px;
	text-decoration:none;
	color:white;
	text-shadow:2px 2px black;	
}

a:hover{
	color:gray;
	cursor:pointer;
}

ul{
	text-align:center;
}

li{
	display:inline-block;
	width:fit-content;
}

.advButton{
	display:block;
	margin-top:65px;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	background-color:rgb(213,213,213);
	background-image:linear-gradient(
		to bottom, rgb(213,213,213),rgb(100,100,100)
	);
	border:5px ridge rgb(213,213,213);
	box-shadow: 0px 0px 4px 0px black;
	color:rgb(26,37,165);
	font-weight:bold;
	text-shadow:0px 0px rgb(6,6,134);
}

.advButton:hover{
	opacity:0.8;
	cursor:pointer;
}

@media only screen and (max-width:400px){
	.rightColumn{
		width:100%;
		float:right;
	}
	.leftColumn{
		width:100%;
		float:right;
	}
	li{
		padding-right:6%;
		padding-left:6%;
	}

}